@mixin breakpoint($point) {
	@if $point == full {
		@media (min-width: 1200px) {
			@content;
		}
	}
	@else if $point == tablet {
		@media (max-width: 1024px) {
			@content;
		}
	}
	@else if $point == tabletMin {
		@media (max-width: 1023px) {
			@content;
		}
	}
	@else if $point == phone {
		@media (max-width: 768px) {
			@content;
		}
	}
	@else if $point == smallPhone {
		@media (max-width: 320px) {
			@content;
		}
	}
	// http://mir.aculo.us/2012/11/28/the-ultimate-target-retina-screens-media-query/
	@else if $point == retina {
		@media
		(min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-device-pixel-ratio: 1.5),
		(min-resolution: 144dpi),
		(min-resolution: 1.5dppx) {
			@content;
		}
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(.0);
	} 40% {
		transform: scale(1.0);
	}
}

// Sweep to Top Animation
.hvr-sweep-to-top,
.btn,
.g-submit-btn {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
}

.hvr-sweep-to-top:before,
.btn:before,
.g-submit-btn:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $darkBlue;
	border-radius: 5px;
	transform: scaleY(0);
	transform-origin: 50% 100%;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active,
.btn:hover,
.btn:focus,
.btn:active,
.g-submit-btn:hover,
.g-submit-btn:focus,
.g-submit-btn:active {
	color: $white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before,
.btn:hover:before,
.btn:focus:before,
.btn:active:before,
.g-submit-btn:hover:before,
.g-submit-btn:focus:before,
.g-submit-btn:active:before {
	transform: scaleY(1);
}
