/*********************
SIZES
*********************/
$siteWidth: 1200px; // Useful for fixed width sites, as well as for limiting the max-width of fluid sites

/*********************
COLORS
*********************/
$black: #000000;
$offBlack: #1a1a1a;
$mediumBlack: #333333;
$gray: #666666;
$lightGray: #f2f2f2;
$lighterGray: #e6e6e6;
$offWhite: #e9e9e9;
$white: #ffffff;

$whiteBlue: #ebf6fb;
$lightBlue: #79c4e9;
$blue: #29a1d8;
$darkBlue: #056797;
$orange: #ef3200;
$yellow: #ffc326;

/*********************
SOCIAL COLORS - http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
*********************/
$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #007bb6;
$google: #dd4b39;
$youtube: #b00;
$pinterest: #cb2027;
$tumblr: #32506d;
$flickr: #ff0084;
$instagram: #517fa4;
$vimeo: #aad450;
$foursquare: #0072b1;
$rss: #f60;

/*********************
TYPOGRAPHY - http://cssfontstack.com/
*********************/
